.card {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.image {
  width: 64px;
  height: 64px;
  display: block;
  object-fit: cover;
  border: 2px solid #801AB2;
  border-radius: 100%;
}

.heading {
  width: 100%;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 130px;
  gap: 8px;
}